.db-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.db-link {
  display: flex;
  align-items: center;

}
.db-icon-box {
  padding: 8px;
}
.db-icon {
  font-size: 19px;
  color: gray;
}
.db-img {
  width: 19px;
}
.db-profile {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.db-title {
  display: flex;
}
